# Copyright (c) 2024 Byran Huang, Keychron
# SPDX-License-Identifier: MIT

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_KEYCHRON_Q11_PRO_LEFT=y

CONFIG_USB_DEVICE_VID=0x3434
CONFIG_USB_DEVICE_PID=0x0CB0
CONFIG_USB_DEVICE_MANUFACTURER="Keychron"

CONFIG_KEYCHRON_CONFIG=y

# Enable ZMK USB/BLE
CONFIG_ZMK_USB=y
CONFIG_ZMK_BLE=y

# Enable sleep
CONFIG_ZMK_SLEEP=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable pinctrl
CONFIG_PINCTRL=y

# Enable I2C
CONFIG_I2C=y

# Enable encoder
CONFIG_EC11=y
CONFIG_EC11_TRIGGER_GLOBAL_THREAD=y

# Enable RGB Underglow
CONFIG_ZMK_RGB_UNDERGLOW=y
CONFIG_CKLED2001=y
CONFIG_ZMK_RGB_UNDERGLOW_EXT_POWER=n
CONFIG_ZMK_RGB_UNDERGLOW_EFF_START=0
CONFIG_ZMK_RGB_UNDERGLOW_BRT_START=10
CONFIG_ZMK_RGB_UNDERGLOW_HUE_START=100

# Enable GPIO
CONFIG_GPIO=y

# Flashing/Building Configurations
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_BUILD_OUTPUT_UF2=y

CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

# Enable 32kHz crystal
# CONFIG_CLOCK_CONTROL_NRF=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_30PPM=y
# CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=y

# Enable logging over USB
# CONFIG_LOG=y
# CONFIG_LOG_PROCESS_THREAD_STARTUP_DELAY_MS=2000
# CONFIG_ZMK_USB_LOGGING=y
# CONFIG_ZMK_LOG_LEVEL_DBG=y
# CONFIG_LOG_BUFFER_SIZE=20000
# CONFIG_I2C_LOG_LEVEL_DBG=y
# CONFIG_SENSOR_LOG_LEVEL_DBG=y

CONFIG_ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY=y
CONFIG_ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING=y

CONFIG_BOARD_ENABLE_DCDC=y
